body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

h1
{
    text-transform: uppercase;    
}

#leftContainer
{
    width: 100%;
}

.formLabel
{
    font: normal 12px Verdana;
    text-align: right;
    padding: 5px 0 0 0;
    float: left;
    width: 150px;
    margin: 1px 0 1px 0;
}

.formInputField
{
    float: left;
    padding: 0px 0px 0px 12px;
    margin: 1px 0 1px 0;
}

.formRequiredField
{
    color: #ff6666;
    font: normal 12px Verdana;
    font-weight: bold;
    margin-left: 3px;    
}

.formInputLine
{
    clear: both;
    padding: 0 0 4px 0;    
}

input
{
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    padding: 2px 0 2px 5px;
    height: 20px;
}

#btnAdd
{
    line-height: 30px;
    padding: 0 30px;
    margin-right: 1px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #ff3232;
    cursor: pointer;
    outline: none;
    border: 0;
    height: 30px;    
}

#btnAdd:hover
{
    background-color: #f00;            
}

/* Disable Firefox highlighting dotted outline around buttons */
:focus { outline:none; }
::-moz-focus-inner { border:0; }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
