*.cache
*.dll
*.pdb
*.txt
*.suo
!README.txt
/CreepCollector/bin/Microsoft.Web.Infrastructure.xml
/CreepCollector/bin/System.Json.xml
/CreepCollector/bin/System.Net.Http.Formatting.xml
/CreepCollector/bin/System.Net.Http.WebRequest.xml
/CreepCollector/bin/System.Net.Http.xml
/CreepCollector/bin/System.Web.Helpers.xml
/CreepCollector/bin/System.Web.Http.Common.xml
/CreepCollector/bin/System.Web.Http.WebHost.xml
/CreepCollector/bin/System.Web.Http.xml
/CreepCollector/bin/System.Web.Mvc.xml
/CreepCollector/bin/System.Web.Razor.xml
/CreepCollector/bin/System.Web.WebPages.Deployment.xml
/CreepCollector/bin/System.Web.WebPages.Razor.xml
/CreepCollector/bin/System.Web.WebPages.xml